@use "sass:color";

*::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    opacity: .5;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
}


body{
    &.row-resize{
        &, *{
            cursor: row-resize !important;
        }
    }
    &.col-resize{
        &, *{
            cursor: col-resize !important;
        }
    }

    // Styles
    background: var(--color-primary);
    color: var(--color-invert);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;

    // Global style for header windows
    header.cap {
        background-color: var(--color-secondary);
        padding: 7px;
        border-bottom: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
        white-space: nowrap;
    }
    header.header-tab{
        // position: absolute;
        // top: 0;
        // left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        z-index: 2;
        align-items: center;
        background-color: var(--color-secondary);
        a{
            display: inline-block;
            border-right: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };

            &:hover{
                background: var(--color-hover);
            }

            &.active, &.active:hover{
                background-color: var(--color-primary) !important;
            }
        }
    }

    // Dropdown menu
    ul.pop-menu {
        background: var(--color-primary);
        border: 1px solid #{ rgba(var(--color-invert-rgb), 0.3) };
        list-style: none;
        width: max-content;
        z-index: 9;

        li{
            a {
                padding: 5px 7px;
                display: grid;
                grid-template-columns: 1fr 150px;
                align-items: center;

                // second span
                span:nth-child(2) {
                    justify-self: end;
                }

                &:hover {
                    span.muted {
                        color: var(--color-invert) !important;
                    }
                }
            }
        }
    }
    // Dropdown menu
    .menu {
        position: fixed;
        display: none;
        z-index: 99;
        width: max-content;
        height: max-content;

        &.active {
            display: block;
        }
    }
    .empty-window {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: var(--color-primary);
        &, & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        svg {
            path {
                fill: var(--color-secondary);
            }
        }
        ul {margin-top: 30px;
            border: none;
            li {
                > a {
                    > span {
                        &:last-child * {
                            color: var(--color-muted) !important;
                        }
        
                        &:first-child {
                            color: var(--color-invert-muted) !important;
                        }
                    }
                }
            }
        }
    }
    > header{
        border-bottom: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
        display: flex;
        justify-content: space-between;
        z-index: 9;

        > div.left, > div.right {
            display: flex;
            align-items: center;
            position: relative;

            a {
                padding: 5px 7px;
            }
        }

        > div.left {
            a {
                &:hover {
                    & + ul {
                        display: block;
                    }
                }
            }

            // Dropdown menu
            ul {
                display: none;
                position: absolute;
                top: 100%;
                &:hover {
                    display: block;

                    /*
                    <a>...</a>
                    <ul>
                        <li>
                            <a>
                                <span>...</span>
                                <span class="muted">...</span>
                            </a>
                        </li>
                    </ul>
                    */
                    // Select the previous <a> element
                    + a {
                        background: var(--color-hover);
                    }
                }
            }
        }
        .logo{
            a {
                padding: 5px 10px;
            }
        }
    }

    > main {
        $header-padding: 10px;
        $header-padding-end: 20px;
        $header-padding-start: 7px;

        display: flex;
        flex: 1;
        height: 100%;

        a, .a {
            padding: 5px 7px;
        }

        #opt-files, #opt-search, #opt-extensions, #main-editor, #main-runner, #main-extensions, #terminal {
            display: none;
            flex-direction: column;
            flex: 1;
        }

        > header {
            width: var(--explorer-size);
            border-right: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
            background-color: var(--color-secondary);
            display: none;
            overflow-x: hidden;
            position: relative;

            &.active {
                display: flex;
            }

            .scroll-x {
                right: 0;
                transform: translateX(2.5px);
            }

            $opt : 'files', 'search', 'extensions';
            @each $opt in $opt {
                &.opt-#{$opt} {
                    #opt-#{$opt} {
                        display: flex;
                    }
                }
            }

            #opt-files, #opt-search, #opt-extensions {
                min-width: var(--explorer-child-size);
                width: 100%;
            }

            #opt-files {
                display: none;
                .runner a, .editor a, .explorer .explorer-header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                .runner, .editor {
                    a {
                        padding: #{ $header-padding } #{ $header-padding-end } #{ $header-padding } #{ $header-padding-start };
                        &:hover span:nth-child(2){
                            color: var(--color-invert);
                        }
                    }
                }
                .explorer {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    .explorer-header {
                        padding: 0 0 0 #{ $header-padding-start };

                        > div {
                            a{
                                padding: 10px;

                                &:hover {
                                    color: var(--color-invert);
                                }
                            }
                        }
                    }
                    .explorer-main{
                        flex: 1;
                        position: relative;
                        #x-root {
                            position: relative;
                            z-index: 2;
                        }
                        .explorer-folder {
                            margin-left: var(--explorer-level-left);
                            border-left: .5px solid rgba(var(--color-invert-rgb), 0.3);
                            &.active {
                                > .x-folder {
                                    &::before {
                                        content: "- ";
                                    }
                                }
                                > ul {
                                    display: block;
                                }
                            }
                            > .x-folder {
                                margin-left: calc(-1 * var(--explorer-level-left) - 0.5px);
                                background-color: var(--color-folder-bg);
                                color: var(--color-folder);
                                &:hover {
                                    color: var(--color-folder-active);
                                }
                                &::before {
                                    content: "+ ";
                                }
                            }
                            > ul {
                                display: none;
                            }
                            .x-file {
                                background-color: var(--color-file-bg);
                                color: var(--color-file);
                                &:hover {
                                    color: var(--color-file-active);
                                }
                            }

                            .x-folder, .x-file {
                                border: .5px solid transparent;
                                &.focus {
                                    border: .5px solid rgba(var(--color-invert-rgb), 0.3);
                                }
                            }
                        }
                        .explorer-main-layer {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            z-index: 1;
                        }
                    }
                }
            }
        }
        > main {
            flex-direction: column;
            flex: 1;
            background-color: var(--color-helper);
            width: calc(100% - var(--explorer-size));

            &[terminal="1"] {
                #main-editor, #main-runner, #main-extensions {
                    height: calc(100% - var(--terminal-size)) !important;
                }
            }
            
            #main-editor, #main-runner, #main-extensions {
                height: 100%;
                overflow: hidden;
            }
            #main-editor {
                &.active {
                    display: grid;
                }
                background-color: #{ rgba(var(--color-invert-rgb), 0.3) };
                grid-template-columns: repeat(2, 50%);
                grid-gap: 0.5px;

                @for $i from 0 through 3 {
                    .editor-window[window="w-#{$i}"] {
                        z-index: $i;
                    }
                }
                // If there is no four editor window
                // the fourth one will ocupy two columns
                &[window-opened="1"] {
                    .editor-window[window="w-0"] {
                        grid-column: span 2;
                    }
                }
                &[window-opened="3"] {
                    .editor-window[window="w-2"] {
                        grid-column: span 2;
                    }
                }
                .editor-window {
                    // Remove close button for first window
                    &:first-child {
                        .window-header .execute a.close-window {
                            display: none;
                        }
                    }
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    position: relative;
                    .window-header {
                        align-items: center;
                        width: 100%;
                        position: relative;
                        background-color: var(--color-secondary);
                        z-index: 3;

                        .file-queue {
                            display: flex;
                            flex: 1;
                            align-items: center;
                            // padding-left: calc(var(--editor-padd) - 0.5px);
                            overflow: visible;
                            > div {
                                display: flex;
                                align-items: center;
                                overflow: visible;
                                position: relative;

                                .muted:hover {
                                    color: var(--color-invert) !important;
                                }
                                &.active {
                                    background-color: var(--color-primary);
                                    a:first-child, a:first-child:hover {
                                        background: var(--color-primary) !important;
                                    }
                                }
                                &.not-saved {
                                    a:first-child {
                                        display: flex;
                                        &::before {
                                            content: "*";
                                            white-space: nowrap;
                                        }
                                    }
                                }
                                border-right: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };

                                // Show route when hover
                                &::after {
                                    content: attr(route);
                                    position: absolute;
                                    left: 0;
                                    top: 100%;
                                    white-space: nowrap;
                                    padding: 2px;
                                    z-index: 999;
                                    background-color: var(--color-primary);
                                    border: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                                    display: none;
                                }

                                &:hover {
                                    &::after {
                                        display: block;
                                    }
                                }
                            }
                        }
                        .execute {
                            > a:first-child {
                                // Succes color
                                background-color: var(--color-success);
                                &:hover {
                                    background-color: var(--color-success-hover) !important;
                                }
                            }
                            > span {
                                background-color: var(--color-primary);
                            }
                        }
                    }
                    .editor-file {
                        flex: 1;
                        position: relative;
                        display: none;
                        background-color: var(--color-primary);
                        z-index: 2;

                        &.active {
                            display: block;
                        }

                        .line-numbers-rows{
                            z-index: 1;
                            width: var(--editor-padd) !important;
                            padding: var(--editor-inner-padd) 0 var(--editor-footer-space) 0 !important;
                            text-align: right;
                            height: min-content;
                            border-right: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                            border-top: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                            line-height: normal !important;
                            background-color: var(--color-secondary);
                            overflow: hidden;
                            > span{
                                counter-increment: linenumber;
                                &:before{
                                    content: counter(linenumber);
                                    display: block;
                                    color: var(--color-invert-muted);
                                    padding: 0 5px;
                                }
                                &.active:before{
                                    background-color: var(--color-invert);
                                    color: var(--color-primary);
                                }
                            }
                        }
                        textarea{
                            border: none;
                            resize: none;
                            outline: none;
                            white-space: pre;
                            z-index: 2;
                            background-color: transparent;
                            color: transparent;
                            // color: rgba(rgb(255, 255, 255), 0.8);
                            caret-color: var(--color-invert);
                            padding: 10px 5px var(--editor-footer-space) calc(var(--editor-padd) + var(--editor-inner-padd)) !important;
                        }
                        pre{
                            overflow: auto;
                            z-index: 0;
                            margin: 0 !important;
                            background-color: transparent !important;
                            padding: 10px 5px var(--editor-footer-space) calc(var(--editor-padd) + var(--editor-inner-padd) - 5px) !important;                        
                            code{
                                color: var(--color-invert);
                                text-shadow: none;
                                line-height: 1.2 !important;

                                p {
                                    display: inline-block;
                                    width: 3000px;
                                    padding-left: 5px;
                                    &.active {
                                        background-color: var(--color-helper);
                                    }
                                }
                            }
                        }
                        textarea, pre, .line-numbers-rows{
                            position: absolute;
                            transition: all 0.5s, background-color 0s;
                            line-height: 1.2 !important;
                            top: 0;
                            width: 100%;
                            left: 0;
                            height: 100%;
                        }
                    }
                }
            }
            #main-runner {
                &.active{
                    display: flex;
                }
                flex-direction: column;
                > .cap {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .title {
                        padding: 0 7px;
                    }
                    a {
                        padding: 7px;
                        &.run-all {
                            background-color: var(--color-success);
                            &:hover {
                                background-color: var(--color-success-hover) !important;
                            }
                        }
                    }
                }
                > main {
                    display: flex;
                    position: relative;
                    flex: 1;
                    background-color: var(--color-primary);
                    height: 100%;
                    > section {
                        position: relative;
                        overflow: hidden;
                        .table-main {
                            width: 100%;
                            overflow: auto;
                            padding-bottom: var(--editor-footer-space);
                            table {
                                min-width: 100%;
                                border-collapse: collapse;
                                thead tr {
                                    background-color: var(--color-secondary);
                                    th {
                                        text-align: center;
                                        font-weight: 400;
                                        padding: 10px;
                                    }
                                }
                                tbody tr, thead tr {
                                    border-bottom: 0.5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                                    th, td {
                                        border-left: 0.5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                                        border-right: 0.5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                                        white-space: nowrap;

                                        &:first-child {
                                            border-left: none;
                                        }

                                        &:last-child {
                                            border-right: none;
                                        }
                                    }
                                }
                                tbody {
                                    tr {
                                        &:nth-child(2n) {
                                            background-color: var(--color-helper-light);
                                        }
                                        td {
                                            text-align: end;
                                            padding: 7px 10px;
                                        }
                                    }
                                }
                            }
                        }
                        &:first-child {
                            width: calc(100% - var(--register-section-size));
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            > div {
                                background-color: var(--color-primary);
                                .table-main {
                                    height: 100%;
                                }
                                &:first-child {
                                    height: calc(100% - var(--data-segment-size));
                                    .table-main {
                                        overflow: auto;
                                        table {
                                            tbody tr, thead tr {
                                                th, td {
                                                    &:first-child {
                                                        padding: 7px 0;
                                                        text-align: center;
                                                    }
                                                }
                                                td {
                                                    text-align: start;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:last-child {
                                    border-top: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                                    z-index: 2;
                                    height: var(--data-segment-size);
                                }
                            }
                        }
                        &:last-child {
                            // Scrollbar
                            .scroll-x {
                                left: 0;
                                transform: translateX(-2.5px);
                            }
                            border-left: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                            width: var(--register-section-size);
                            > main {
                                height: 100%;
                                padding-bottom: var(--editor-footer-space);
                                overflow: auto;
                                .table-main {
                                    display: none;
                                    &.active {
                                        display: block;
                                    }
                                    table {
                                        thead tr {
                                            border-top: 0.5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                                        }
                                        tbody tr, thead tr {
                                            th, td {
                                                &:last-child {
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #terminal {
                .scroll-y {
                    top: 0;
                    transform: translateY(-2.5px);
                }
                &.active{
                    display: block;
                }
                height: var(--terminal-size);
                border-top: 1px solid #{ rgba(var(--color-invert-rgb), 0.3) };
                background-color: var(--color-primary);
                position: relative;
                scroll-behavior: smooth;
                > main {
                    width: 100%;
                    height: calc(100% - 25px);
                    display: flex;
                    > section {
                        display: none;
                        flex: 1;
                        padding: 10px;
                        &.active {
                            display: block;
                        }

                        &#terminal-main {
                            &:focus{
                                outline: none;
                            }
                            .terminal-input {
                                display: flex;
                                .terminal-name, .terminal-name *{
                                    font-weight: bold !important;
                                }
                                .terminal {
                                    display: block;
                                    margin-left: 10px;
                                    #terminal-cmd {
                                        display: inline;
                                        word-break: break-all;
                                        outline: none;
                                        visibility: visible;
                                    }
                                    #terminal-caret {
                                        padding: 0;
                                        outline: none;
                                        // border: none;
                                        border: .5px solid rgba(0, 0, 0, 1);
                                        outline: none;
                                        background-color: transparent;
                                        display: inline-block;
                                        height: 100%;
                                        color: transparent;
                                        // width: calc(var(--font-size)/2);
                                        &:hover{
                                            background-color: transparent;
                                        }
                                        &.blink{
                                            background-color: var(--color-invert);
                                            // animation: blink 1s infinite;
                                        }
                                        // @keyframes blink{                -----> Not beautiful, if someone can do better, please do it :)
                                        //     0%{
                                        //         background-color: var(--color-invert);
                                        //     }
                                        // }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > footer {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        height: auto;
        z-index: 12;
        background-color: var(--color-primary);
        border: .5px solid #{ rgba(var(--color-invert-rgb), 0.3) };
        border-top: 0;

        .prompt {
            > main {
                > * {
                    padding: 10px;
                }
                input {
                    border: 0;
                    width: 80%;
                    background-color: var(--color-primary);
                    &:active, &:focus {
                        outline: none;
                    }
                }
            }
        }

        .alert, .prompt {
            > main {
                display: flex;
                flex-wrap: nowrap;
                position: relative;
                justify-content: space-between;
            }
        }
        .alert {
            > main {
                > * {
                    padding: 10px;
                }

                > a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    > footer, > #clicker-changer, > footer .pop-up {
        display: none;

        &.active {
            display: block;
        }
    }
    #clicker-changer {
        position: fixed;
        z-index: 11;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--layer-flash); // Layer with opacity to show that the app is blocked
    }

    #setup-init {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: var(--color-primary);
        flex-direction: column;
        display: none;
        a {
            display: inline-block;
            padding: 5px 7px;
        }
        &.active {
            display: flex;
        }
        main {
            flex: 1;
            padding: 20px 20px 100px 20px;
            overflow: auto;
            line-height: 1.3;

            pre {
                display: inline;
            }
            .caret {
                width: 1px;
                display: inline-block;
                background-color: transparent;
                animation: caret 1s infinite linear;
            }

            @keyframes caret {
                50% {
                    background-color: var(--color-invert);
                }
            }
        }
    }

    // Warning
    #warning {
        position: fixed;
        z-index: 99;
        right: 20px;
        bottom: 20px;
        padding: 10px 20px;
        display: none;
        min-width: 300px;
        background-color: var(--color-error);
        color: var(--color-primary);
        // font-weight: bold;

        &.active {
            display: block;
            animation: dissapear 10s forwards;
        }

        @keyframes dissapear {
            0% {
                opacity: 1;
            }
            90% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
}