
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-mono);
}

html {
    --font-mono: 'Courier New', 'Red Hat Mono', 'Cutive Mono', Courier, ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Fira Mono', 'Droid Sans Mono', monospace;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-display: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-size: 12px;

    --editor-padd : 25px;
    --editor-inner-padd : 10px;
    --editor-footer-space : 100%;

    --explorer-size: 250px;
    --explorer-child-size: 250px;
    --explorer-level-left: 10px;
    --register-section-size: 35%;
    --data-segment-size: 50%;
    --terminal-size: 45%;

    --layer-flash: rgba(0, 0, 0, 0.1);

    --color-primary: #ffffff;
    --color-secondary: #f0f0f0;
    --color-helper: #f5f5f5;
    --color-helper-light: #fbfbfb;
    --color-invert: #000000;
    --color-invert-rgb: 0, 0, 0;
    --color-muted: #989898;
    --color-invert-muted: #323232;
    --color-hover: #c3c3c3;
    --color-success: #ADE792;
    --color-success-hover: #78b858;
    --color-warning: #F7D794;
    --color-error: #fb341e;

    --color-file: #6c6c6c;
    --color-file-active: var(--color-invert);
    --color-file-bg: var(--color-secondary);
    --color-folder: var(var(--color-invert));
    --color-folder-active: var(--color-invert);
    --color-folder-bg: var(--color-secondary);

    &[theme~="dark"], &[theme="dark"], &[theme=dark] {
        --color-primary: #272b31;
        --color-secondary: #17191c;
        --color-helper: #0f1113;
        --color-helper-light: #1a1e24;
        --color-invert: #ffffff;
        --color-invert-rgb: 255, 255, 255;
        --color-muted: #b3b3b3;
        --color-invert-muted: #cfcfcf;
        --color-hover: #666666;
        --color-success: #3eac64;
        --color-success-hover: #50a06e;
        --color-warning: #b19456;
        --color-error: #ae2c2c;

        --color-file: #c5c5c5;
        --color-file-active: var(--color-invert);
        --color-file-bg: var(--color-secondary);
        --color-folder: var(var(--color-invert));
        --color-folder-active: var(--color-invert);
        --color-folder-bg: var(--color-secondary);
    }

    // Shortcuts
    .__s-mac {
        font-family: var(--font-sans);
        font-weight: 300;
    }
    &[pc~="win"], &[pc="win"], &[pc=win] {
        .__s-mac {
            display: none;
        }
    }
    &[pc~="mac"], &[pc="mac"], &[pc=mac] {
        .__s-win {
            display: none;
        }
    }
}

$colors: "primary", "secondary", "helper", "invert", "hover", "util", "muted", "success", "success-hover", "warning", "error";

@each $c in $colors {
    .bg-#{$c} {
        background-color: var(--color-#{$c});
    }

    .text-#{$c} {
        color: var(--color-#{$c});
    }
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

a {
    color: var(--color-invert);
    text-decoration: none;
    cursor: pointer;
    display: block;

    &:hover {
        background: var(--color-hover) !important;
    }
}

hr{
    border: 0;
    border-top: 0.5px solid #{ rgba(var(--color-invert-rgb), 0.3) } !important;
    background-color: transparent;
    height: 0px;
}
ul {
    list-style: none;
}

input {
    caret-color: var(--color-invert);
    color: var(--color-invert);
}

.muted {
    color: var(--color-muted);
}

.scroll-x, .scroll-y {
    opacity: 0;
    background-color: rgba(#000000, 1);
    z-index: 90;
    position: absolute;
}
.scroll-x {
    height: 100%;
    width: 5px;
    cursor: col-resize;
    top: 0;
}

// ========================================
// Functions

// HEX to RGB
@function toRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}