// Import global and partials


/* =================

    Global

    Author : ZhengLinLei
    Github : https://github.com/ZhengLinLei/spimhub
    License: MIT

 =================== */

@import "layout/global", "page/index";